---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
redirect_from:
  - /portfolio/
---

{% include base_path %}

{% assign projects = site.portfolio | where_exp: "item", "item.show_in_projects != false" | sort: "date" | reverse %}

{% if projects.size > 0 %}
<div class="projects-showcase">
  {% for post in projects %}
    {% include portfolio-card.html post=post %}
  {% endfor %}
</div>
{% else %}
<p class="projects-showcase__empty">Projects coming soon.</p>
{% endif %}